[Unit]
Description=HFT Executor
After=network.target

[Service]
Type=simple
User=hft-user
Group=hft-group
WorkingDirectory=/opt/hft
EnvironmentFile=/opt/hft/conf/ipc.env
ExecStart=/opt/hft/bin/executor/executor
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hft-executor
LimitCORE=infinity
LimitMEMLOCK=infinity
Slice=hft.slice
CPUAffinity=6

[Install]
WantedBy=multi-user.target
