[Unit]
Description=HFT Observer
After=network.target

[Service]
Type=simple
User=hft-user
Group=hft-group
WorkingDirectory=/opt/hft
ExecStart=/opt/hft/bin/observer/observer
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hft-observer
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
