[Unit]
Description=HFT Trading Engine
After=network.target

[Service]
Type=simple
User=hft-user
Group=hft-group
WorkingDirectory=/opt/hft
EnvironmentFile=/opt/hft/conf/ipc.env
ExecStart=/opt/hft/bin/trader/trader
Restart=always
RestartSec=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hft-trader
LimitCORE=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
