[Unit]
Description=HFT Trading Engine (BTCUSDT)
After=network.target

[Service]
Type=simple
User=hft-user
Group=hft-group
WorkingDirectory=/opt/hft
EnvironmentFile=/opt/hft/conf/ipc.env
ExecStart=/opt/hft/bin/trader/trader trader_btcusdt
Restart=always
RestartSec=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier=hft-trader-btcusdt
LimitCORE=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
